{% extends 'base.html.twig' %}

{% block title %}Hello LuckyController!
{% endblock %}

{% block body %}

	<div id="layoutSidenav_content">
		<body>
			{% for message in app.flashes('success') %}
				<div class="alert alert-success">
					{{ message }}
				</div>
			{% endfor %}
		</body>
		<main>
			<div class="container-fluid px-4">
				<h1 class="mt-4">Static Navigation</h1>
				<ol class="breadcrumb mb-4">
					<li class="breadcrumb-item">
						<a href="index.html">Dashboard</a>
					</li>
					<li class="breadcrumb-item active">Static Navigation</li>
				</ol>
				<div class="card mb-4">
					<div class="card-body">
						{{form(form)}}
						</div>
					</div>
					<div style="height: 100vh"></div>
				</div>
			</main>

		</div>
	</div>

{% endblock %}